.header {
  @include centerDiv;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-element);
  box-shadow: 0 0.2rem 0.5rem rgba(var(--color-black-rgb), 0.1);

  @include mediaQuery(tab-land) {
    padding: 2rem 4rem;
  }

  @include mediaQuery(tab-port) {
    padding: 2rem 3rem;
  }
}
