:root {
  --color-element: #2b3945;
  --color-background: #202c37;
  --color-input: #2b3945;
  --color-text: #fff;

  --color-black-rgb: 0, 0, 0;

  --font-primary: 'Nunito Sans', sans-serif; // 300, 600, 800
}
